{% extends "layout.html" %}

{% block title%}
    Verdesmart - About
{%endblock%}

{% block content%}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-4"> About this project </h1>
                    <p class="lead"></p>
                      <hr class="my-4">
                    <p ><h5 > Find information about this project </h5></p>
                    <p><h4> Vision </h4> </p>
                <p> Our team has identified the need to reach students through different online media actions to continuously reinforce our message and support the awareness goal of proper waste disposal. The following strategies will be put in place, while the waste recycling campaign starts and during its implementation, so students can count with instructions, information and contact detail related to the project.</p>
                    <p> - Define a clear guide for waste management at dormitories</p>
                    <p> - Create a student lead body supported by the university to control, maintain and regularly improve this guide</p>
                    <p> - Outline this and other specific tasks of the organization for the future</p>
                    <p> - Generate a cost analysis to run such project</p>
            </div>
        </div>

        <div class="row">
            <div class="container" style="background:transparent">
                <div class="row">
                    <div class="col-sm">
                        <div class="card card-cascade narrower">
                            <div class="card-body card-body-cascade text-center">
                                <div style="width: 50%">
                                    <img class="card-img-top" src="/static/img/rohit.jpg" alt="Card image cap" style="width:50%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{%endblock%}