{% extends "layout.html" %}

{% block title%}
    The Recyling Project
{%endblock%}

{% block content%}

    <div class="container">
<div class="jumbotron">

  <h1 class="display-4"> Welcome WASTE 2019 Recycling Group </h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p><h5>We aim to establish a sustainability office that informs, connects and supports our students, staff and community to act on sustainability.</h5></p>


    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
</div>

{%endblock%}